body { background: #fff; margin: 0; padding: 0; }
* { font-family: 'Segoe UI', 'Helvetica', sans-serif; font-weight: lighter; font-size: 16px; }

/* Media Query -- Reusables */
@mediaWidth:				1700px;
@mediaProjectHome:			300px;
@mediaProjectHomeMargin:	20px;

#feature { background: #f5f5f5; width: 100%; height: 300px; overflow: hidden;
		   &:hover { #featureSize { 
									.viewBtn { -moz-animation: featureViewPop .3s linear; -webkit-animation: featureViewPop .3s linear; -webkit-animation-fill-mode: forwards; opacity: 1; }
									.likeBtn { -moz-animation: featureLikePop .7s linear; -webkit-animation: featureLikePop .7s linear; -webkit-animation-fill-mode: forwards; opacity: 1; }
									.likeLabel { -moz-animation: featureLikeText 1s linear; -webkit-animation: featureLikeText 1s linear; -webkit-animation-fill-mode: forwards; opacity: 1; }
								  } 
		   }
		   #featureSize { width: (@mediaWidth - 40); height: 300px; margin: 0 auto; position: relative;
						  .viewBtn,.likeBtn { width: 40px; height: 40px; border-radius: 50%; position: absolute; bottom: 25px; cursor: pointer; }
						  .viewBtn { background: #ccc; left: 0; z-index: 2; overflow: hidden; opacity: 0.0; -webkit-transition: opacity .2s linear .4s;
									 &:hover { background: #3399ff; }
									 .viewIcon { background: #fff; width: 8px; height: 8px; margin: 40% 0 0 28%; position: relative;
												 &:after { content: ""; border-top: 12px solid transparent; border-bottom: 12px solid transparent; border-left: 12px solid #fff; position: absolute; left: 8px; top: -8px; }
									 }
						  }
						  .likeBtn { background: #ccc; left: 45px; z-index: 1; opacity: 0.0; -webkit-transition: opacity .2s linear .2s;
									 &:hover { background: #78cf66; }
									 .likeTxt { color: #fff; font-size: 1.5em; text-align: center; margin-top: 3px; }
						  }
						  .likeLabel { color: #999; font-size: 1em; width: auto; height: 20px; opacity: 0.0; position: absolute; bottom: 36px; left: 90px; -webkit-transition: opacity .2s linear; }
		   }
}

/* Colombo Law */

/* Feature Layout Elements*/
#mainLogo {  width: 453px; height: 129px; float: left; margin-top: 85px; }
.preview { width: 200px; height: 200px; float: right; margin: 50px 0 0 2px; }

/* Feature Like Elements */


#projectsTitle { width: 100%; height: auto; overflow: hidden; 
				 #mediaTitleSize { width: @mediaWidth; margin: 0 auto;
								   h2 { font-size: 2.1875em; line-height: 35px; color: #777; margin: 27px 0 15px @mediaProjectHomeMargin; padding: 0; }
				 }
}

#projectsList { width: 100%; height: auto; overflow: hidden; padding-bottom: 100px;
				#mediaListSize { width: @mediaWidth; margin: 0 auto; 
							 .project { width: @mediaProjectHome; height: 190px; float: left; margin: @mediaProjectHomeMargin; position: relative;
										/* On Hover - Add animation cues and define that the animation should hold until the hover state ends -- ADD Property that mimics '-webkit-transition' from non hover class --- bottom: 0; */
										&:hover { .like { -moz-animation: slideLikeBtn .3s linear; -webkit-animation: slideLikeBtn .3s linear; -webkit-animation-fill-mode: forwards; bottom: 0; } }
									    img { background: #bbb; width: 100%; height: 150px; margin-bottom: -4px; position: absolute; z-index: 1; }
										/* '-webkit-transiton' will transition the hover animation back out on mouse leave */
										.like { width: 100%; height: 30px; padding-top: 10px; color: #999; position: absolute; bottom: 45px; -webkit-transition: bottom .1s linear .1s;
												.likeBtn { background: #999; width: 30px; height: 27px; border-radius: 50%; display: inline-block; text-align: center; padding-top: 3px; color: #fff; cursor: pointer;
														   &:hover { background: #78cf66; }
												}
										}
							 }
				}
}

#siteFooter { background: #fff; height: 30px; z-index: 1; position: fixed; right: 0; bottom: 0; left: 0; padding: 20px;
			  #siteFooterSize { width: @mediaWidth; margin: 0 auto; }
			  .circle { background: #f5f5f5; box-shadow: 0 0 0 2px #999; width: 30px; height: 30px; border-radius: 50%; -webkit-transition: box-shadow .2s linear .2s; display: inline-block;  margin-right: 5px;
						&:first-child { margin-left: @mediaProjectHomeMargin; }
						&:hover { cursor: pointer; -moz-animation: bounceOut .4s linear; -webkit-animation: bounceOut .4s linear; box-shadow: 0 0 0 2px #39f; 
								  .socialIcon { background: #39f; width: 20px; height: 14px; border-radius: 50%; position: relative;
									  &:after { content: ""; border-right: 4px solid transparent; border-left: 4px solid transparent; border-top: 4px solid #39f; position: absolute; top: 12px; left: 4px; }
								  }
								  .emailIcon { background: #39f; width: 20px; height: 14px; position: relative; 
											   &:before { content: ""; border-right: 10px solid transparent; border-left: 10px solid transparent; border-top: 10px solid #f5f5f5; position: absolute; top: 0; left: 0; }
											   &:after { content: ""; border-right: 8px solid transparent; border-left: 8px solid transparent; border-top: 8px solid #39f; position: absolute; top: 0; left: 2px; }
								  }
								  .phoneIcon { background: #39f; width: 14px; height: 20px; position: relative; border-radius: 3px; margin: 5px 0 0 8px;
											   &:before { content: "";  background: #f5f5f5; width: 10px; height: 15px; position: absolute; top: 2px; left: 2px; border-radius: 2px; }
											   &:after { content: ""; background: #f5f5f5; width: 4px; height: 4px; border-radius: 50%; position: absolute; bottom: 1px; left: 5px; box-shadow: 0 0 0 1px #999; }
								  }
						}
						.socialIcon { background: #999; width: 20px; height: 14px; border-radius: 50%; position: relative; margin: 8px 0 0 5px;
									  &:after { content: ""; border-right: 4px solid transparent; border-left: 4px solid transparent; border-top: 4px solid #999; position: absolute; top: 12px; left: 4px; }
						}
						.emailIcon { background: #999; width: 20px; height: 14px; position: relative; margin: 8px 0 0 5px;
									 &:before { content: ""; border-right: 10px solid transparent; border-left: 10px solid transparent; border-top: 10px solid #f5f5f5; position: absolute; top: 0; left: 0; }
									 &:after { content: ""; border-right: 8px solid transparent; border-left: 8px solid transparent; border-top: 8px solid #999; position: absolute; top: 0; left: 2px; }
						}
						.phoneIcon { background: #999; width: 14px; height: 20px; position: relative; border-radius: 3px; margin: 5px 0 0 8px;
									 &:before { content: "";  background: #f5f5f5; width: 10px; height: 15px; position: absolute; top: 2px; left: 2px; border-radius: 2px; }
									 &:after { content: ""; background: #f5f5f5; width: 4px; height: 4px; border-radius: 50%; position: absolute; bottom: 1px; left: 5px; box-shadow: 0 0 0 1px #999; }
						}
			  }
}

/* Feature View Button Animation */
@-moz-keyframes featureViewPop {
	0% { width: 0; height: 0; bottom: 45px; left: 20px; opacity: 1; }
	50% { width: 50px; height: 50px; bottom: 20px; left: -5px; opacity: 1; }
	75% { width: 32px; height: 32px; bottom: 29px; left: 4px; opacity: 1; }
	100% { width: 40px; height: 40px; bottom: 25px; left: 0; opacity: 1; }
}

	@-webkit-keyframes featureViewPop {
		0% { width: 0; height: 0; bottom: 45px; left: 20px; opacity: 1; }
		50% { width: 50px; height: 50px; bottom: 20px; left: -5px; opacity: 1; }
		75% { width: 32px; height: 32px; bottom: 29px; left: 4px; opacity: 1; }
		100% { width: 40px; height: 40px; bottom: 25px; left: 0; opacity: 1; }
	}

/* Feature Like Button Animation */
@-moz-keyframes featureLikePop {
	0% { width: 0; height: 0; bottom: 45px; left: 20px; }
	60% { width: 40px; height: 40px; bottom: 25px; left: 0; opacity: 1; }
	72% { width: 40px; height: 40px; bottom: 25px; left: 55px; opacity: 1; }
	86% { width: 40px; height: 40px; bottom: 25px; left: 40px; opacity: 1; }
	100% { width: 40px; height: 40px; bottom: 25px; left: 45px; opacity: 1; }
}

	@-webkit-keyframes featureLikePop {
		0% { width: 0; height: 0; bottom: 45px; left: 20px; }
		60% { width: 40px; height: 40px; bottom: 25px; left: 0; opacity: 1; }
		72% { width: 40px; height: 40px; bottom: 25px; left: 55px; opacity: 1; }
		86% { width: 40px; height: 40px; bottom: 25px; left: 40px; opacity: 1; }
		100% { width: 40px; height: 40px; bottom: 25px; left: 45px; opacity: 1; }
	}

@-moz-keyframes featureLikeText {
	0% { bottom: 36px; left: 90px; opacity: 0.0; }
	80% { bottom: 36px; left: 90px; opacity: 0.0; }
	90% { bottom: 36px; left: 90px; opacity: 0.5; }
	95% { bottom: 36px; left: 90px; opacity: 1; }
	100% { bottom: 36px; left: 90px; opacity: 1; }
}

	@-webkit-keyframes featureLikeText {
		0% {  bottom: 36px; left: 90px; opacity: 0.0; }
		80% { bottom: 36px; left: 90px; opacity: 0.0; }
		90% { bottom: 36px; left: 90px; opacity: 0.5; }
		95% { bottom: 36px; left: 90px; opacity: 1; }
		100% { bottom: 36px; left: 90px; opacity: 1; }
	}

/* Home Content Like Button Animation */
@-moz-keyframes slideLikeBtn {
	0% { bottom: 45px; }
	25% { bottom: -8px; }
	50% { bottom: 6px; }
	75% { bottom: -4px;}
	99% { bottom: 1px; }
	100% { bottom: 0; }
}

	@-webkit-keyframes slideLikeBtn {
		0% { bottom: 45px; }
		25% { bottom: -8px; }
		50% { bottom: 6px; }
		75% { bottom: -4px;}
		99% { bottom: 1px; }
		100% { bottom: 0; }
	}

/* Footer Bounce Button Animation */
@-moz-keyframes bounceOut {
	0%{ box-shadow: 0 0 0 2px #39f; opacity:1; }
    25%{ box-shadow: 0 0 0 0px #39f; opacity:1; }
    50%{ box-shadow: 0 0 0 5px #39f; opacity:1; }
    75%{ box-shadow: 0 0 0 2px #39f; opacity:1; }
    100%{ box-shadow: 0 0 0 3px #39f; opacity:1; }
}

	@-webkit-keyframes bounceOut {
		0%{ box-shadow: 0 0 0 2px #39f; opacity:1; }
		25%{ box-shadow: 0 0 0 0px #39f; opacity:1; }
		50%{ box-shadow: 0 0 0 5px #39f; opacity:1; }
		75%{ box-shadow: 0 0 0 2px #39f; opacity:1; }
		100%{ box-shadow: 0 0 0 3px #39f; opacity:1; }
	}