body {
  max-width: 100%;
  height: auto;
  margin: 0;
}
* {
  font-family: 'Segoe UI', 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 16px;
}
/* PRIMARY NAVIGATION */
#nav #title {
  background: #fff;
  position: relative;
}
#nav #title:after {
  content: "";
  position: absolute;
}
#nav .button {
  background: url('/Resources/Images/repeatWhite.png') repeat;
  cursor: pointer;
}
#nav .button.active {
  background: #00addc;
  cursor: auto;
}
#nav footer {
  background: #fff;
}
/* PRIMARY CONTENT - PICKING WHATS FOR LUNCH */
#content {
  overflow: hidden;
}
#content .bgOne,
#content .bgTwo {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}
#content .bgOne {
  background: url('/Resources/Images/BG-Chicken.png') top left no-repeat;
}
#content .bgTwo {
  background: url('/Resources/Images/BG-Burger.png') top center no-repeat;
}
#content .mask {
  background: url('/Resources/Images/repeatBlack.png') repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content #info {
  width: 100%;
}
/* SECONDARY CONTENT - BAGDES/VETOES/OVERRIDES */
#secondaryContent #badges {
  width: auto;
  height: 50px;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  #nav {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  #nav #navWrap {
    width: 280px;
    margin: 0 auto;
    display: block;
    visibility: visible;
  }
  #nav #title,
  #nav .button,
  #nav footer {
    float: left;
  }
  #nav #title {
    background: transparent;
    width: 54px;
    height: 54px;
    position: fixed;
    top: 20px;
    left: 20px;
  }
  #nav #title .logo {
    background: url('/Resources/Images/WFL-Logo-799.png') no-repeat;
    width: 54px;
    height: 54px;
    margin: 0 auto;
  }
  #nav .button {
    width: 70px;
    height: 70px;
  }
  #nav .button:active {
    background: #fff;
  }
  #nav .button:active .lunchIcon {
    background: url('/Resources/Images/mobile/lunchAlt.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 19px 0 0 19px;
  }
  #nav .button:active .historyIcon {
    background: url('/Resources/Images/mobile/historyAlt.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 19px 0 0 19px;
  }
  #nav .button:active .ratingsIcon {
    background: url('/Resources/Images/mobile/ratingsAlt.png') no-repeat;
    width: 32px;
    height: 29px;
    margin: 21px 0 0 19px;
  }
  #nav .button:active .statsIcon {
    background: url('/Resources/Images/mobile/statsAlt.png') no-repeat;
    width: 32px;
    height: 27px;
    margin: 22px 0 0 19px;
  }
  #nav .button.active {
    background: #00addc;
  }
  #nav .button .text {
    display: none;
  }
  #nav .button .lunchIcon {
    background: url('/Resources/Images/mobile/lunch.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 19px 0 0 19px;
  }
  #nav .button .historyIcon {
    background: url('/Resources/Images/mobile/history.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 19px 0 0 19px;
  }
  #nav .button .ratingsIcon {
    background: url('/Resources/Images/mobile/ratings.png') no-repeat;
    width: 32px;
    height: 29px;
    margin: 21px 0 0 19px;
  }
  #nav .button .statsIcon {
    background: url('/Resources/Images/mobile/stats.png') no-repeat;
    width: 32px;
    height: 27px;
    margin: 22px 0 0 19px;
  }
  #nav footer {
    display: none;
  }
  #content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #content #info {
    width: 100%;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
  }
  #content #info .primary {
    font-size: 2.25em;
    color: #fff;
    margin-top: 6px;
    margin-left: 10px;
  }
  #content #info .primary .usersWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 14px;
    text-align: right;
  }
  #content #info .primary .usersWrap p {
    display: none;
  }
  #content #info .primary p {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  #content #info .primary .listingWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
  }
  #content #info .primary .listingWrap .listing {
    background: url('/Resources/Images/repeatBlue.png') repeat;
    width: 140px;
    height: 140px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
  }
  #content #info .primary .listingWrap .listing:last-child {
    margin-right: 0;
  }
  #secondaryContent {
    position: fixed;
    top: 0;
    left: 42%;
    margin-left: 2px;
  }
  #secondaryContent #badges {
    background: url('/Resources/Images/repeatWhite.png') repeat;
    min-width: 50px;
    width: 50px;
    max-width: 50px;
    height: 20px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 481px) and (max-width: 799px) {
  #nav {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 10px;
    left: 0;
    z-index: 1;
  }
  #nav #title,
  #nav .button,
  #nav footer {
    float: left;
  }
  #nav #title {
    background: #fff;
    width: 20%;
    height: 102px;
    padding-top: 48px;
  }
  #nav #title:after {
    content: "";
    position: absolute;
    border-left: 5px solid #fff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: 100%;
    top: 46%;
  }
  #nav #title .logo {
    background: url('/Resources/Images/WFL-Logo-799.png') no-repeat;
    width: 54px;
    height: 54px;
    margin: 0 auto;
  }
  #nav .button {
    width: 20%;
    height: 150px;
  }
  #nav .button:hover {
    background: #fff;
  }
  #nav .button:hover .lunchIcon {
    background: url('/Resources/Images/mobile/lunchAlt.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 59px auto 0 auto;
  }
  #nav .button:hover .historyIcon {
    background: url('/Resources/Images/mobile/historyAlt.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 59px auto 0 auto;
  }
  #nav .button:hover .ratingsIcon {
    background: url('/Resources/Images/mobile/ratingsAlt.png') no-repeat;
    width: 32px;
    height: 29px;
    margin: 61px auto 0 auto;
  }
  #nav .button:hover .statsIcon {
    background: url('/Resources/Images/mobile/statsAlt.png') no-repeat;
    width: 32px;
    height: 27px;
    margin: 61px auto 0 auto;
  }
  #nav .button.active {
    background: #00addc;
  }
  #nav .button.active:hover .lunchIcon {
    background: url('/Resources/Images/mobile/lunch.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 59px auto 0 auto;
  }
  #nav .button.active:hover .historyIcon {
    background: url('/Resources/Images/mobile/history.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 59px auto 0 auto;
  }
  #nav .button.active:hover .ratingsIcon {
    background: url('/Resources/Images/mobile/ratings.png') no-repeat;
    width: 32px;
    height: 29px;
    margin: 61px auto 0 auto;
  }
  #nav .button.active:hover .statsIcon {
    background: url('/Resources/Images/mobile/stats.png') no-repeat;
    width: 32px;
    height: 27px;
    margin: 61px auto 0 auto;
  }
  #nav .button .text {
    display: none;
  }
  #nav .button .lunchIcon {
    background: url('/Resources/Images/mobile/lunch.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 59px auto 0 auto;
  }
  #nav .button .historyIcon {
    background: url('/Resources/Images/mobile/history.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 59px auto 0 auto;
  }
  #nav .button .ratingsIcon {
    background: url('/Resources/Images/mobile/ratings.png') no-repeat;
    width: 32px;
    height: 29px;
    margin: 61px auto 0 auto;
  }
  #nav .button .statsIcon {
    background: url('/Resources/Images/mobile/stats.png') no-repeat;
    width: 32px;
    height: 27px;
    margin: 61px auto 0 auto;
  }
  #nav footer {
    width: 100%;
    height: 30px;
    margin-top: 1px;
  }
  #content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 200px;
  }
  #content #info {
    width: 100%;
    position: absolute;
    right: 10px;
    left: 10px;
  }
  #content #info .primary {
    font-size: 2.25em;
    color: #fff;
    margin-top: 100px;
    margin-left: 30px;
  }
  #content #info .primary .usersWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 14px;
  }
  #content #info .primary .usersWrap p {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    padding-left: 10px;
    color: #92e9ff;
  }
  #content #info .primary p {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  #content #info .primary .listingWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
  }
  #content #info .primary .listingWrap .listing {
    background: url('/Resources/Images/repeatBlue.png') repeat;
    width: 120px;
    height: 120px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
  }
  #content #info .primary .listingWrap .listing:last-child {
    margin-right: 0;
  }
  #secondaryContent {
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
    width: auto;
  }
  #secondaryContent #veto {
    background: url('/Resources/Images/repeatRed.png') repeat;
    width: 32%;
    height: 100px;
    overflow: hidden;
    margin: 0 2% 0 0;
    float: left;
  }
  #secondaryContent #overrides {
    background: url('/Resources/Images/repeatBlue.png') repeat;
    width: 32%;
    height: 100px;
    overflow: hidden;
    margin: 0 2% 0 0;
    float: left;
  }
  #secondaryContent #badges {
    background: url('/Resources/Images/repeatWhite.png') repeat;
    width: 32%;
    height: 100px;
    overflow: hidden;
    margin: 0;
    float: left;
  }
  #secondaryContent #veto,
  #secondaryContent #overrides,
  #secondaryContent #badges {
    color: #fff;
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 800px) and (max-width: 959px) {
  #nav {
    width: 150px;
    height: 784px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
  }
  #nav #title {
    background: #fff;
    width: 135px;
    height: 95px;
    padding-top: 55px;
    padding-left: 15px;
  }
  #nav #title:after {
    content: "";
    position: absolute;
    z-index: 1;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    bottom: -5px;
    left: 46%;
  }
  #nav #title .logo {
    background: url('/Resources/Images/lunchLogo120.png') no-repeat;
    width: 120px;
    height: 33px;
  }
  #nav .button {
    width: 150px;
    height: 150px;
    margin-bottom: 1px;
    text-align: center;
    position: relative;
  }
  #nav .button:hover {
    background: #fff;
  }
  #nav .button:hover .text {
    color: #00addc;
  }
  #nav .button:hover .lunchIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -37px -130px no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button:hover .historyIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -37px -36px no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button:hover .ratingsIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -37px -99px no-repeat;
    width: 24px;
    height: 22px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button:hover .statsIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -37px -70px no-repeat;
    width: 24px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button.active {
    background: #00addc;
  }
  #nav .button.active:hover .text {
    color: #fff;
    font-size: 1.825em;
    line-height: 30px;
    padding-top: 38%;
  }
  #nav .button.active:hover .lunchIcon {
    background: url('/Resources/Images/desktop/lunch-24.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button.active:hover .historyIcon {
    background: url('/Resources/Images/desktop/history-24.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button.active:hover .ratingsIcon {
    background: url('/Resources/Images/desktop/ratings-24.png') no-repeat;
    width: 24px;
    height: 22px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button.active:hover .statsIcon {
    background: url('/Resources/Images/desktop/stats-24.png') no-repeat;
    width: 24px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button .text {
    color: #fff;
    font-size: 1.825em;
    line-height: 30px;
    padding-top: 38%;
  }
  #nav .button .lunchIcon {
    background: url('/Resources/Images/desktop/lunch-24.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button .historyIcon {
    background: url('/Resources/Images/desktop/history-24.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button .ratingsIcon {
    background: url('/Resources/Images/desktop/ratings-24.png') no-repeat;
    width: 24px;
    height: 22px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button .statsIcon {
    background: url('/Resources/Images/desktop/stats-24.png') no-repeat;
    width: 24px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav footer {
    width: 150px;
    height: 30px;
  }
  #content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-left: 190px;
  }
  #content #info {
    width: 100%;
    position: relative;
  }
  #content #info .primary {
    font-size: 2.25em;
    color: #fff;
    margin-top: 225px;
  }
  #content #info .primary .usersWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 14px;
  }
  #content #info .primary .usersWrap p {
    font-size: 1.5em;
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    padding-left: 10px;
    color: #FEDA83;
  }
  #content #info .primary p {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  #content #info .primary .listingWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
  }
  #content #info .primary .listingWrap .listing {
    background: url('/Resources/Images/repeatBlue.png') repeat;
    width: 120px;
    height: 120px;
    margin-right: 5px;
    float: left;
    display: table;
  }
  #content #info .primary .listingWrap .listing:last-child {
    margin-right: 0;
  }
  #content #info .primary .listingWrap .listing p {
    font-size: 1.5em;
    line-height: 24px;
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 7px;
  }
  #secondaryContent {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 235px;
  }
  #secondaryContent #veto {
    background: url('/Resources/Images/repeatWhite.png') repeat;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 5px;
    float: left;
  }
  #secondaryContent #veto .vetoIcon {
    background: url('/Resources/Images/veto-32.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 21px auto 0 auto;
  }
  #secondaryContent #overrides {
    background: url('/Resources/Images/repeatWhite.png') repeat;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 5px;
    float: left;
  }
  #secondaryContent #overrides .overridesIcon {
    background: url('/Resources/Images/overrides-32.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 21px auto 0 auto;
  }
  #secondaryContent #badges {
    background: url('/Resources/Images/repeatWhite.png') repeat;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
  }
  #secondaryContent #badges .badgesIcon {
    background: url('/Resources/Images/badges-32.png') no-repeat;
    width: 20px;
    height: 32px;
    margin: 21px auto 0 auto;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1280px) {
  #nav {
    width: 150px;
    height: 784px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
  }
  #nav #title {
    background: #fff;
    width: 135px;
    height: 95px;
    padding-top: 55px;
    padding-left: 15px;
  }
  #nav #title:after {
    content: "";
    position: absolute;
    z-index: 1;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    bottom: -5px;
    left: 46%;
  }
  #nav #title .logo {
    background: url('/Resources/Images/lunchLogo120.png') no-repeat;
    width: 120px;
    height: 33px;
  }
  #nav .button {
    width: 150px;
    height: 150px;
    margin-bottom: 1px;
    text-align: center;
    position: relative;
  }
  #nav .button:hover {
    background: #fff;
  }
  #nav .button:hover .text {
    color: #00addc;
  }
  #nav .button:hover .lunchIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -37px -130px no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button:hover .historyIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -37px -36px no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button:hover .ratingsIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -37px -99px no-repeat;
    width: 24px;
    height: 22px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button:hover .statsIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -37px -70px no-repeat;
    width: 24px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button.active {
    background: #00addc;
  }
  #nav .button.active:hover .text {
    color: #fff;
    font-size: 1.825em;
    line-height: 30px;
    padding-top: 38%;
  }
  #nav .button.active:hover .lunchIcon {
    background: url('/Resources/Images/desktop/lunch-24.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button.active:hover .historyIcon {
    background: url('/Resources/Images/desktop/history-24.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button.active:hover .ratingsIcon {
    background: url('/Resources/Images/desktop/ratings-24.png') no-repeat;
    width: 24px;
    height: 22px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button.active:hover .statsIcon {
    background: url('/Resources/Images/desktop/stats-24.png') no-repeat;
    width: 24px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button .text {
    color: #fff;
    font-size: 1.825em;
    line-height: 30px;
    padding-top: 38%;
  }
  #nav .button .lunchIcon {
    background: url('/Resources/Images/desktop/lunch-24.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button .historyIcon {
    background: url('/Resources/Images/desktop/history-24.png') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button .ratingsIcon {
    background: url('/Resources/Images/desktop/ratings-24.png') no-repeat;
    width: 24px;
    height: 22px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav .button .statsIcon {
    background: url('/Resources/Images/desktop/stats-24.png') no-repeat;
    width: 24px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #nav footer {
    width: 150px;
    height: 30px;
  }
  #content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-left: 190px;
  }
  #content #info {
    width: 100%;
    position: relative;
  }
  #content #info .primary {
    font-size: 2.25em;
    color: #fff;
    margin-top: 225px;
  }
  #content #info .primary .usersWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 14px;
  }
  #content #info .primary .usersWrap p {
    font-size: 1.5em;
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    padding-left: 10px;
    color: #FEDA83;
  }
  #content #info .primary p {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  #content #info .primary .listingWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
  }
  #content #info .primary .listingWrap .listing {
    background: url('/Resources/Images/repeatBlue.png') repeat;
    width: 120px;
    height: 120px;
    margin-right: 5px;
    float: left;
    display: table;
  }
  #content #info .primary .listingWrap .listing:last-child {
    margin-right: 0;
  }
  #content #info .primary .listingWrap .listing p {
    font-size: 1.5em;
    line-height: 24px;
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 7px;
  }
  #secondaryContent {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #secondaryContent #veto {
    background: url('/Resources/Images/repeatWhite.png') repeat;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 5px;
    float: left;
  }
  #secondaryContent #veto .vetoIcon {
    background: url('/Resources/Images/veto-32.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 21px auto 0 auto;
  }
  #secondaryContent #overrides {
    background: url('/Resources/Images/repeatWhite.png') repeat;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 5px;
    float: left;
  }
  #secondaryContent #overrides .overridesIcon {
    background: url('/Resources/Images/overrides-32.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 21px auto 0 auto;
  }
  #secondaryContent #badges {
    background: url('/Resources/Images/repeatWhite.png') repeat;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
  }
  #secondaryContent #badges .badgesIcon {
    background: url('/Resources/Images/badges-32.png') no-repeat;
    width: 20px;
    height: 32px;
    margin: 21px auto 0 auto;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1650px) {
  #threshold {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  #nav {
    position: relative;
    height: 100px;
    padding-top: 25px;
  }
  #nav #title,
  #nav .button,
  #nav footer {
    float: left;
    margin-bottom: 0;
  }
  #nav #title {
    margin-right: 0;
    width: 326px;
    height: 63px;
    padding-top: 12px;
    position: absolute;
    left: 186px;
  }
  #nav #title .logo {
    background: url('/Resources/Images/lunchLogo.png') no-repeat;
    width: 190px;
    height: 52px;
  }
  #nav #navWrap {
    width: 173px;
    position: absolute;
    right: 186px;
  }
  #nav #navWrap .button {
    width: 32px;
    height: 53px;
    padding-top: 22px;
    margin-left: 15px;
  }
  #nav #navWrap .button:first-child {
    margin-left: 0;
  }
  #nav #navWrap .button.active {
    background: transparent;
  }
  #nav #navWrap .button.active .lunchIcon {
    opacity: 1.0;
  }
  #nav #navWrap .button.active .historyIcon {
    opacity: 1.0;
  }
  #nav #navWrap .button.active .ratingsIcon {
    opacity: 1.0;
  }
  #nav #navWrap .button.active .statsIcon {
    opacity: 1.0;
  }
  #nav #navWrap .button .text {
    display: none;
  }
  #nav #navWrap .button .lunchIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -2px -130px no-repeat;
    width: 32px;
    height: 31px;
    opacity: 0.5;
  }
  #nav #navWrap .button .historyIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -2px -36px no-repeat;
    width: 32px;
    height: 32px;
    opacity: 0.5;
  }
  #nav #navWrap .button .ratingsIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -2px -99px no-repeat;
    width: 32px;
    height: 29px;
    opacity: 0.5;
  }
  #nav #navWrap .button .statsIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -2px -70px no-repeat;
    width: 32px;
    height: 27px;
    opacity: 0.5;
  }
  #nav footer {
    display: none;
  }
  #content {
    position: relative;
    width: 100%;
    height: 620px;
    margin-bottom: 50px;
    padding-left: 0;
  }
  #content .bgOne,
  #content .bgTwo {
    top: -85px;
    height: 685px;
  }
  #content .mask {
    height: 600px;
  }
  #content #info {
    position: relative;
  }
  #content #info .primary {
    font-size: 2.25em;
    color: #fff;
    margin-top: 100px;
    margin-left: 185px;
  }
  #content #info .primary .usersWrap {
    height: auto;
    overflow: hidden;
    margin-bottom: 14px;
    position: absolute;
    bottom: -338px;
    right: 185px;
    left: 0;
    text-align: right;
  }
  #content #info .primary .usersWrap p {
    display: none;
  }
  #content #info .primary p {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  #content #info .primary .listingWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
  }
  #content #info .primary .listingWrap .listing {
    background: url('/Resources/Images/repeatBlue.png') repeat;
    width: 120px;
    height: 120px;
    margin-right: 5px;
    float: left;
  }
  #content #info .primary .listingWrap .listing:last-child {
    margin-right: 0;
  }
  #secondaryContent {
    position: relative;
    margin-top: 25px;
  }
  #secondaryContent #badges {
    background: #000;
    position: relative;
    float: right;
    margin-right: 186px;
  }
}
@media only screen and (min-width: 1651px) {
  #threshold {
    width: 1651px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  #nav {
    position: relative;
    width: 1280px;
    height: 100px;
    padding-top: 25px;
    margin: 0 auto;
  }
  #nav #title,
  #nav .button,
  #nav footer {
    float: left;
    margin-bottom: 0;
  }
  #nav #title {
    margin-right: 0;
    width: 326px;
    height: 63px;
    padding-top: 12px;
  }
  #nav #title:after {
    border-left: 5px solid #fff;
    border-right: none;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    bottom: 43%;
    left: 326px;
  }
  #nav #title .logo {
    background: url('/Resources/Images/lunchLogo.png') no-repeat;
    width: 190px;
    height: 52px;
  }
  #nav #navWrap {
    width: 173px;
    float: right;
  }
  #nav #navWrap .button {
    width: 32px;
    height: 53px;
    padding-top: 22px;
    margin-left: 15px;
  }
  #nav #navWrap .button:first-child {
    margin-left: 0;
  }
  #nav #navWrap .button.active {
    background: transparent;
  }
  #nav #navWrap .button.active .lunchIcon {
    opacity: 1.0;
  }
  #nav #navWrap .button.active .historyIcon {
    opacity: 1.0;
  }
  #nav #navWrap .button.active .ratingsIcon {
    opacity: 1.0;
  }
  #nav #navWrap .button.active .statsIcon {
    opacity: 1.0;
  }
  #nav #navWrap .button .text {
    display: none;
  }
  #nav #navWrap .button .lunchIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -2px -130px no-repeat;
    width: 32px;
    height: 31px;
    opacity: 0.5;
  }
  #nav #navWrap .button .historyIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -2px -36px no-repeat;
    width: 32px;
    height: 32px;
    opacity: 0.5;
  }
  #nav #navWrap .button .ratingsIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -2px -99px no-repeat;
    width: 32px;
    height: 29px;
    opacity: 0.5;
  }
  #nav #navWrap .button .statsIcon {
    background: url('/Resources/Images/desktop/spriteDesktop.png') -2px -70px no-repeat;
    width: 32px;
    height: 27px;
    opacity: 0.5;
  }
  #nav footer {
    display: none;
  }
  #content {
    position: relative;
    width: 100%;
    height: 620px;
    padding-left: 0;
  }
  #content .bgOne,
  #content .bgTwo {
    top: -85px;
    height: 685px;
  }
  #content .mask {
    height: 600px;
  }
  #content #info {
    position: relative;
  }
  #content #info .primary {
    font-size: 2.25em;
    color: #fff;
    margin: 60px 185px 0 185px;
  }
  #content #info .primary .usersWrap {
    height: auto;
    overflow: hidden;
    margin-bottom: 14px;
    position: absolute;
    bottom: -104px;
    right: 185px;
    left: 0;
    text-align: right;
  }
  #content #info .primary .usersWrap p {
    display: none;
  }
  #content #info .primary p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    text-align: center;
    font-size: 1.5em;
  }
  #content #info .primary .listingWrap {
    width: 815px;
    height: auto;
    overflow: hidden;
    margin: 220px auto 0 auto;
  }
  #content #info .primary .listingWrap .listing {
    background: url('/Resources/Images/repeatBlue.png') repeat;
    width: 200px;
    height: 200px;
    margin-right: 5px;
    margin-bottom: 4px;
    float: left;
  }
  #content #info .primary .listingWrap .listing:last-child {
    margin-right: 0;
  }
  #secondaryContent {
    width: 1280px;
    margin: 0 auto;
    margin-top: 25px;
  }
  #secondaryContent #badges {
    background: #000;
    float: right;
  }
}
