<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Resources/CSS/StyleSheet.css" type="text/css"  rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>

    <div>
        @RenderBody()
    </div>

    <div id="siteFooter">
    <div id="siteFooterSize">
        <div class="circle">
            <div class="socialIcon"></div>
        </div>

        <div class="circle">
            <div class="emailIcon"></div>
        </div>

        <div class="circle">
            <div class="phoneIcon"></div>
        </div>
    </div>
</div>

</body>
</html>
