@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="feature">
    <div id="featureSize">
        <div id="mainLogo"><img src="~/Content/Colombo/Main.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block5.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block4.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block3.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block2.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block1.png" /></div>

        <div class="viewBtn">
            <div class="viewIcon"></div>
        </div>
        <div class="likeBtn">
            7
        </div>
        <div class="likeLabel">likes</div>
    </div>
</div>

<div id="projectsTitle">
    <div id="mediaTitleSize">
        <h2>Collection</h2>
    </div>
</div>

<div id="projectsList">
    <div id="mediaListSize">

        <div class="project">
            <div class="imgWrap"><img src="~/Content/HSCConcepts/Home/home001.jpg" /></div>
            <div class="like">
                <div class="likeBtn">8</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="~/Content/ESPNRedesign/Home/home001.jpg" /></div>
            <div class="like">
                <div class="likeBtn">4</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="" /></div>
            <div class="like">
                <div class="likeBtn">8</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="" /></div>
            <div class="like">
                <div class="likeBtn">3</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="" /></div>
            <div class="like">
                <div class="likeBtn">9</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="" /></div>
            <div class="like">
                <div class="likeBtn">9</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="" /></div>
            <div class="like">
                <div class="likeBtn">1</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="" /></div>
            <div class="like">
                <div class="likeBtn">1</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="" /></div>
            <div class="like">
                <div class="likeBtn">1</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="" /></div>
            <div class="like">
                <div class="likeBtn">1</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

        <div class="project">
            <div class="imgWrap"><img src="" /></div>
            <div class="like">
                <div class="likeBtn">1</div>
                <div class="likeLabel">likes</div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {

        var inAnimation = new Array();

        if ($.browser.msie) {
            $('.project').hover(function () {
                if (!$(this).children(".like").hasClass('animated')) {
                    $(this).children(".like").dequeue().stop().animate({ bottom: '0' }, 100);
                }
            }, function () {
                $(this).children(".like").addClass('animated').animate({ bottom: '45px' }, 100, "linear", function () {
                    $(this).removeClass('animated').dequeue();
                });
            });
        };

        // Check if like button has been clicked -- If not then add count. If so then deny additonal clicks and shake. 
        $('.likeBtn').click(function () {
            if ($(this).hasClass('liked')) {
                $(this).addClass('shake').delay(1000).queue(function (next) {
                    $(this).removeClass('shake');
                    next();
                });
            } else {
                var num = parseInt($.trim($(this).html()));
                $(this).addClass('liked');
                $(this).html(++num);
                $(this).siblings(".likeLabel").html("you liked this");
            }
        });

    });

</script>
