@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="feature">
    <div id="featureSize">
        <div id="mainLogo"><img src="~/Content/Colombo/Main.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block5.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block4.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block3.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block2.png" /></div>
        <div class="preview"><img src="~/Content/Colombo/Block1.png" /></div>

        <div class="viewBtn">
            <div class="viewIcon"></div>
        </div>
        <div class="likeBtn">
            <div class="likeTxt">7</div>
        </div>
        <div class="likeLabel">likes</div>
    </div>
</div>

<div id="projectsTitle">
    <div id="mediaTitleSize">
        <h2>Collection</h2>
    </div>
</div>

<div id="projectsList">
    <div id="mediaListSize">

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">8</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">4</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">8</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">3</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">9</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">9</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">1</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">1</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">1</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">1</div>
                likes
            </div>
        </div>

        <div class="project">
            <img src="" />
            <div class="like">
                <div class="likeBtn">1</div>
                likes
            </div>
        </div>

    </div>
</div>

<div id="siteFooter">
    <div id="siteFooterSize">
        <div class="circle"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var inAnimation = new Array();

        if ($.browser.msie) {
            $('.project').hover(function () {
                if (!$(this).children(".like").hasClass('animated')) {
                    $(this).children(".like").dequeue().stop().animate({ bottom: '0' }, 100);
                }
            }, function () {
                $(this).children(".like").addClass('animated').animate({ bottom: '45px' }, 0, "linear", function () {
                    $(this).removeClass('animated').dequeue();
                });
            });
        };

    });
           


        //if ($.browser.msie) {
            //$('.project').hover(function () {
                //$(this).children(".like").filter(':not(:animated)').animate({ bottom: '-5px' }, 200, function () {
                    //$(this).animate({ bottom: '4px' }, 100, function () {
                        //$(this).animate({ bottom: '0' }, 100);
                    //});
                //});
            //}, function () {
                //$(this).children(".like").animate({ bottom: '45px' });
            //});
        //}

        //$('.project').mouseout(function () {
            //if ($.browser.msie) {
                //$(this).children(".like").css({ bottom: '45px' });
                //$(this).stop(true, true);
                //$(this).siblings().children(".like").css({ bottom: '45px' });

            //}
        //});

        //$('.project').mouseenter(function () {
            //if ($.browser.msie) {
                //$(this).children(".like").animate({ bottom: '-5px' }, 200, function() {
                    //$(this).animate({ bottom: '4px' }, 100, function () {
                        //$(this).animate({ bottom: '0' }, 100);
                    //});
                //});
                //$(this).siblings().children(".like").css({ bottom: '45px' });
            //}
        //});

</script>
