@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="content">
    <div class="bgTwo"></div>
    <div class="mask">
    </div>
    <div id="info">

        <div class="primary">
            
            <div class="usersWrap">
                <img src="~/content/images/user001.png" />
                <img src="~/content/images/user002.png" />
                <img src="~/content/images/user003.png" />
                <p>3 picks</p>
            </div>
            
            <p>where would you like to eat?</p>

            <div class="listingWrap">
                <div class="listing"></div>
                <div class="listing"></div>
                <div class="listing"></div>
                <div class="listing"></div>
            </div>

        </div>

    </div>
</div>

<div id="secondaryContent">
    <div id="veto">1 veto</div>
    <div id="overrides">1 override</div>
    <div id="badges">0 badges</div>
</div>
