@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="content">
    <div class="bgTwo"></div>
    <div class="mask">
    </div>
    <div id="info">

        <h2>Index</h2>

    </div>
</div>

<div id="secondaryContent">
    <div id="veto"></div>
    <div id="overrides"></div>
    <div id="badges"></div>
</div>
